{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container mt-3">
  <h5>Choisir ma monnaie</h5>
  {% include 'partials/_messages.html' %}
  <form action="{% url 'preferences'%}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <select name="currency" class="custom-select bg-light" id="inputGroupSelect04">
        {% if user_preferences.currency%}
        <option name="currency" selected value="{{user_preferences.currency}}"
          >{{user_preferences.currency}}</option
        >
        {% endif %} {% for currency in currencies %}

        <option name="currency" value="{{currency.value}}"
          >{{currency.value}}
        </option>

        {% endfor %}
      </select>
   
           <div style="margin-left: 2em;" class="input-group-append"> <input class="btn btn-outline-info rounded" type="submit" value="Valider" />
        </div>

    </div>
  </form>
  <div class="input-group mt-3" > 
    <img  style="margin-left: 22em;" src="{% static 'img/currencyImage.png' %}"/>
 </div>
</div>

<hr />

{% endblock %}
