#header {
    background: #483D8B;
    color: #ffffff;
  }
  
  #branding h1 {
    color: #ffffff;
  }
  
  div.breadcrumbs {
    background: #483D8B;
    color: #ffffff;
  }
  
  .login .submit-row {
    padding: 0px !important;
  }
  
  input[type="submit"],
  input[type="button"],
  .submit-row input {
    background: #483D8B;
    color: #ffffff;

  }
  
  .module h2,
  .module caption,
  .inline-group h2 {
    background: #BDB76B;
  }

