{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bilan2">
          <li class="breadcrumb-item">
            <a href="">Revenus</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            Mes revenus
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add-income'%}" class="btn btn-outline-success" style="border-radius: 12px;">Nouveau revenu</a>
    </div>
  </div>

   <div class="container">
    {% include 'partials/_messages.html' %}

    {% if income.count %}

    <div class="row">
      <div class="col-md-1">
        <!--add-expense is the view name given in the urls.py-->
        <a href="{% url 'iexport-pdf' %}" class="btn btn-outline-info btn-sm" style="border-radius: 12px;">Export en PDF</a>
      </div>
      <div class="col-md-1">
        <!--add-expense is the view name given in the urls.py-->
        <a href="{% url 'iexport-excel' %}" class="btn btn-outline-info btn-sm" style="border-radius: 12px;">Export en Excel</a>
      </div>
    

     <form class="form-row align-items-center bilan2"  style="background-color: #e9ecef; margin-right: 152px;" id="formexport">
    
        <div class="col-auto my-1">
          <label class="mr-sm-2"  style="color: royalblue;">Début</label>
          <input type="date"  class="form-control form-control-sm" name="startdate" style="font-size: 1.3em;" value="{{ date6ago | date:'d-m-Y'}}" >
        </div>
        <div class="col-auto my-1">
          <label class="mr-sm-2"  style="color: royalblue;">Fin</label>
          <input type="date"  class="form-control form-control-sm" name="enddate" style="font-size: 1.3em;" value="{{ date6ago | date:'d-m-Y'}}" >
        </div>
     </form>

      <div class="col-md-4">

        <div class="form-group">
          <input type="text" class="form-control rounded" id="searchField" placeholder="Search">
        </div>
      </div>
    </div>
<div class="app-table card">

  <table class="table table-stripped table-hover">
    <thead>
      <tr style="background-color: #e9ecef;">
        <th>Montant ({{currency}})</th>
        <th>Source</th>
        <th>Categorie</th>
        <th>Mode de versement</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
        <th> <a href="#"><img src="{% static 'img/print.png' %}" width="27" height="26"/></a> </th> 
     </tr>
    </thead>

    <tbody>
      {% for income in page_obj%}
      <tr>
        <td>{{income.amount}}</td>
        <td>{{income.source}}</td>
        <td>{{income.categories}}</td>
        <td>{{income.versements}}</td>
        <td>{{income.description}}</td>
        <td>{{income.date | date:'d-m-Y' }}</td>

        <td>
          <a href="{% url 'income-edit' income.id %}" class="btn btn-outline-info btn-sm" style="border-radius: 12px;"
            >Editer</a >
        </td>
        <td>
        <span onclick="reply_click(this.id)"  id="{{  income.id }}" style="cursor: pointer;">
          <img onclick="document.getElementById('id01').style.display='block'"  src="{% static '/img/delete.png' %}" width="27" height="26"/>
        </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="id01" class="modalDialog">
  <span onclick="document.getElementById('id01').style.display='none'" class="closeDialog" title="Close Modal">×</span>
  <div class="modal-contentDialog">
    <div class="containerDialog">
      <h1>Suppression de revenus</h1>
      <p> Etes-vous sur de vouloir suppremer ce revenu ?</p>
    
      <div class="clearfixDialog">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">NON</button>
        <a  href=""
        id = "btndel"> <button class="deletebtn">
       OUI</button></a>
      </div>
    </div>
  </div>
</div>

<p class="no-results" style="display: none;">Aucun résultat </p>
    <div class="table-output">

      <table class="table table-stripped table-hover">
        <thead>
          <tr style="background-color: #e9ecef;">
            <th>Montant ({{currency}})</th>
            <th>Source</th>
            <th>Categorie</th>
            <th>Mode de versement</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
            <th> <a href="#"><img src="{% static 'img/print.png' %}" width="27" height="26"/></a> </th> 
          </tr>
        </thead>

        <tbody  class="table-body">
        </tbody>
      </table>
    </div>




    <div class="pagination-container">
    <div class="">
       page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}


      </ul>
    {% endif %}
  </div>
</div>
</div>




<script src="{% static 'js/dialog.js' %}"></script>
<script src="{% static 'js/searchIncome.js' %}"></script>





{% endblock content %}
