{% extends 'base.html' %}
{% load static %}

{% block content %} 

   <div class="container" >
   {% if expenses.count %}
     <form id="myform">
      {% include 'partials/_messages.html'%} {% csrf_token %}

        <div class="form-row align-items-center bilan2" style="background-color: #e9ecef;">
          <div class="col-auto my-1">
            <label class="mr-sm-2"  style="color: royalblue;">Début</label>
            <input type="date"  class="form-control form-control-sm" name="DateSince" style="font-size: 1.3em;" value="{{ date6ago | date:'d-m-Y'}}" >
          </div>
          <div class="col-auto my-1">
            <label class="mr-sm-2"  style="color: royalblue;">Fin</label>
            <input type="date"  class="form-control form-control-sm" name="DateSince" style="font-size: 1.3em;" value="{{ date6ago | date:'d-m-Y'}}" >
          </div>
          
          <div class="col-auto my-1">
            <input type="submit" value="Valider" class="btn btn-outline-primary rounded" style="margin-top: 2em;" style="border-radius: 12px;"/>
          </div>
          <div class="col-auto my-1">
            <div class="custom-control" style="margin-left: 10em; margin-top: 2em;">
              <label class="mr-sm-2" for="inlineFormCustomSelect" style="font-size:x-large; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 62, 69);" >Dépense globale: </label>
              {% if currency == "$" or currency == "£" %}
              <label class="mr-sm-2" for="inlineFormCustomSelect" style="font-size:x-large; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 62, 69);">{{currency}}{{expenseGlobal}}</label>
              {% else %}
              <label class="mr-sm-2" for="inlineFormCustomSelect" style="font-size:x-large; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 62, 69);">{{expenseGlobal}}{{currency}} </label>
              {% endif %}
            </div>
          </div>
        </div>
      </form>

      <div class="container" style="margin-top: 3em; margin-bottom: 4em;">
          <div id="pc1" class="row rounded card" style="width: 102.5%; height: 487px;display: inline-block;">
            <canvas id="myChart" width="800" height="460"></canvas> 
          </div>
           
          <div  id="pc2" class="row rounded card" style="width: 50%; height: 480px;display: inline-block; margin-top: 1em;">
            <canvas id="myChart2" width="50" height="50"></canvas> 
          </div>     
          <div  id="pc4" class="row rounded card" style="width: 51%; height: 480px;display: inline-block; margin-top: 1em; margin-left: 2em;" >
            <canvas id="myChart4" width="48" height="50"></canvas> 
          </div>             
      </div>
    {% endif %}
    <div id = "checkMethod" style="display: none;">false</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="{% static 'js/stats.js' %}"></script>
</div>       
      
{% endblock content %}


     
      
      
      






















