{% extends 'admin/base.html' %} 
{%load static%} 

{% block branding %}

<h1 id="head" >
  <div class="column">
    <a style="margin-left: 7px;" href="{% url 'home' %}">
      <img  style="padding-bottom: 0.1em; margin-bottom: 0.4em;" src="{% static 'img/logo3.png' %}" width="60" height="60"/> 
    </a>
    <a style="margin-top: 15px;" href="{% url 'home' %}">
      <span style="font-size: 40px; color: white; ">Badol</span> 
    </a>
  </div> 
</h1>

{% endblock %} 

{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/adminstyle.css'%}" />
<link rel="icon" width="80" height="80" href="{% static 'img/logo3.png' %}">
<title>{% block title %} Badol App {% endblock %} </title>

{%endblock %}
